button.starupdate  {
    position: absolute;
    top: 70px;
    width: 250px; 
    right:700px;
}
.starupdate {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(30, 95, 200);
    border: none;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .starupdate span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .starupdate span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .starupdate:hover span {
    padding-right: 25px;
  }
  
  .starupdate:hover span:after {
    opacity: 1;
    right: 0;
  }
  .starupdate:hover {
    background: #3dd9d6;
}
table.ratingtable{
  position:relative;
  left:200px;
  bottom:40px;
}
button.ratesearch  {
  position: absolute;
  top: -10px;
  width: 65px; 
  right:-90px;
  left:-30px;
  height:50px;
}
.ratesearch{
  display: inline-block;
    border-radius: 4px;
    background-color: rgb(30, 95, 200);
    border: none;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}
.ratesearch span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.down-arrow {
  position: absolute;
  top: calc(108vh - 430px);
  left: calc(30% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  color: rgb(30, 95, 200);
}
.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -7px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}
.ratesearch span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.ratesearch:hover span {
  padding-right: 25px;
}

.ratesearch:hover span:after {
  opacity: 1;
  right: 0;
}
.ratesearch:hover {
  background: #3dd9d6;
}