.name {
    font-size: large;
    border-radius: 6px;
    width:240px;
}
.assigntaskimg img {
    position: absolute;

    left: 300px;

    top: 200px;
    width: 500px;
}
.updateoverall {
    position:absolute;
    right: 1100px;

}
.nameemp {
    font-size: large;
    
}
select.selectemp {
    position: absolute;
    /* right: 100px; */
    
}
div.upheading tr h2 {
   position: absolute;
   top:-5px;
   left:100px;
   font-size: xx-large;
}
center.assigncenter {
    width: 600px;
}

tbody.assignbody input {
    padding-left: 0;
}
div.assignclassselect td {
    position: absolute;
    
}