table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin-left: 25%;
  border: 1px solid #ddd;
  font-family: 'Roboto';
  margin-top: 150px;
}
thead{
  background-color: #3dd9d6;
}
th, td {
  text-align: left;
  padding: 1px;
}

tr:nth-child(even){background-color: #f2f2f2}