/* .header {
    background: #0e0ef3;

    @media screen and (max-width:1100px) {
        font-size: 1.5rem !important;
        margin-right: 1em;
        margin-left: 1em;
    }
}

.huser {
    font-size: medium;
    display: flex;
    padding-left: 0px;
}

.usericon {
    padding-right: 0;
    display: flex;
}

.himg {
    padding-left: 147px;
}

.htitlename {
    color: rgb(0, 0, 0);
    float: right;
    padding-left: 100px;
    font: bold;
    font-size: xx-large;

} */

.header {
    background-color: #37caec;
    background: #37caec;
    color: #37caec;
    font-family: 'Roboto';



    @media screen and (max-width:1100px) {
        font-size: 1.5rem !important;
        margin-right: 1em;
        margin-left: 1em;

    }
}

.hadmin {
    /* background-color: #37caec; */
    font-size: medium;
    display: flex;
    padding-left: 0px;
    width: fit-content;
    font-family: 'Roboto';
}

.Adminlogo {
    padding-right: 0;
    display: flex;
    /* background-color: #37caec; */
}

/* .himg {
    /* padding-left: 147px; */
    /* background-color: #37caec; }*/ 

.htitlename {
    color:#fff;
    float: right;
    /* padding-left: 100px; */
    /* font: bold; */
    /* font-size: xx-large; */
    /* background-color: #37caec; */
    font-family: 'Roboto';

}

.mainheader {
    padding: 20px;
    background-color: #37caec;
    font-family: 'Roboto';
}

.header {
    padding: 0%;
    width: 0%;
    background: #37caec;
    font-family: 'Roboto';
}