form.updateform {
  background: #3dd9d6;
  border: 3px solid black;
  position: absolute;
  top: 150px;
  
}
form.updateform span.t1 {
/* padding: 50px; */
font-size: large;
/* margin: 10px; */
float: left;
position: absolute;
left:10px;
top: 2px;
}
form.updateform span.t2 {
/* padding: 50px; */
font-size: large;
margin: 10px;
/* float: left; */
position: absolute;
left: 10px;
top: 30px;
}
form.updateform span.t3 {
/* padding: 50px; */
font-size: large;
/* margin: 10px; */
/* float: left; */
position: absolute;
left: 10px;
top: 80px; 
}
form.updateform span.t4 {
/* padding: 50px; */
font-size: large;
/* margin: 10px; */
/* float: left; */
position: absolute;
left: 10px;
top: 115px; 
}
form.updateform input {
float: right;
width: fit-content;
margin: 5px 0px 5px 0px;

}
center {
float: right;
position: absolute;
left: 900px;
}

form .updateform {
    background: #3dd9d6;
    border: 3px solid black;
    position: absolute;
    top: 150px;
    
}
form.updateform span.t1 {
  /* padding: 50px; */
  font-size: large;
  /* margin: 10px; */
  float: left;
  position: absolute;
  left:10px;
  top: 2px;
}
form.updateform span.t2 {
  /* padding: 50px; */
  font-size: large;
  margin: 10px;
  /* float: left; */
  position: absolute;
  left: 10px;
  top: 30px;
}
form.updateform span.t3 {
  /* padding: 50px; */
  font-size: large;
  /* margin: 10px; */
  /* float: left; */
  position: absolute;
  left: 10px;
  top: 80px; 
}
form.updateform span.t4 {
  /* padding: 50px; */
  font-size: large;
  /* margin: 10px; */
  /* float: left; */
  position: absolute;
  left: 10px;
  top: 115px; 
}
form.updateform input {
  float: right;
  width: fit-content;
  margin: 5px 0px 5px 0px;
  
}
center {
  float: right;
  position: absolute;
  left: 900px;
}

/* center button {
position: absolute;
right: 750px;
} */

.updateformbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(3, 95, 194);
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  bottom: -300px;
  right: 80px;
}

.updateformbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.updateformbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.updateformbtn:hover span {
  padding-right: 25px;
}

.updateformbtn:hover span:after {
  opacity: 1;
  right: 0;
}


/* {    display: inline-block;
    border-radius: 4px;
    background-color: rgb(3, 95, 194);
    border: none;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    bottom: -300px;
    right: 80px;
  } */
  
  .updateformbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .updateformbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .updateformbtn:hover span {
    padding-right: 25px;
  }
  
  .updateformbtn:hover span:after {
    opacity: 1;
    right: 0;
  }


table tr th {
  background-color: #3dd9d6;
}
table tr td:hover {
  background: #3dd9d6;
}
table.table1 {
border: 2px solid black;
position: absolute;
top: 70px;

}

button.findbtn {
position: absolute;
left: 520px;
}
select.empiddrop {
position: absolute;
left: 360px;
}

.updateimg img {
position: absolute;
right:400px;

width:500px;
}

table.table1 {
  border: 2px solid black;
  position: absolute;
  top: 70px;
}
button.findbtn {
  position: absolute;
  left: 520px;
}
select.empiddrop {
  position: absolute;
  left: 360px;
}

.updateimg img {
  position: absolute;
  right:400px;
  
  width:500px;

}