/* .head {
    margin-top: 135px;
    background-color: #37CACE;
    padding: 22px 13px 13px 5px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.dashteam{
    padding: 55px 22px 20px 20px;
    color : rgb(7, 1, 1);
    width: 200px;
    height : 200px;
    font-size: 1.5rem;
    margin : 10px;
    margin-left:65rem;
    margin-top : 1.5rem;
    border : 1px solid rgb(20, 20, 20);
    background-color:#3dd9d6;
    border-radius: 20px;
    box-shadow: -3px -4px 21px 0px rgba(0,0,0,0.59);
 }

 .completed{
    
    padding: 55px 22px 20px 20px;
    color : rgb(7, 1, 1);
    width: 200px;
    height : 200px;
    font-size: 1.5rem;
    margin-top : 1.5rem;
    margin-left:65rem;
    border : 1px solid rgb(20, 20, 20);
    background-color:#3dd9d6;
    border-radius: 20px;
    box-shadow: -3px -4px 21px 0px rgba(0,0,0,0.59);
 }
.ongoing{
    padding: 55px 22px 20px 20px;
    color : rgb(7, 1, 1);
    font-size: 1.5rem;
    width: 200px;
    height : 200px;
    margin : 10px;
    margin-top : 1.5rem;
    margin-left:65rem;
    border : 1px solid rgb(20, 20, 20);
    background-color:#3dd9d6;
    border-radius: 20px;
    box-shadow: -3px -4px 21px 0px rgba(0,0,0,0.59);
} */

/* *{
    overflow: hidden;
}
.hsad{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    font-size: 3rem;
    margin-left:38rem;
}

.countshsad{

    display: flex;
    margin-left: 20rem;
    margin-top: 2.5rem;
    color:black;
    border-spacing: 20px;
}

.teamshsad{
    margin-right: 6rem;
}

.ongoinghsad{
    margin-right: 6rem;
}

.completehsad{
    margin-right: 6rem;
}

.countshsad .teamshsad td{
    row-gap: 30px;
    padding: 50px;
    padding-right: 6rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
}

.countshsad .completehsad td{
    padding-right: 6rem;
    row-gap: 30px;
    padding: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
}
.countshsad .ongoinghsad td{
    overflow-y: hidden;
    row-gap: 40px;
    padding-right: 6rem;
    padding: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
} */

::-webkit-scrollbar {
    display: none;
}

.countshsad{
    display: flex;
    margin-left: 30rem;
    margin-top: 11rem;
    color:black;
    border-spacing: 20px;
}

.countshsad .teamshsad td{
    border-radius: 20px;
    row-gap: 30px;
    padding: 50px;
    padding-right: 6rem;
    font-size: 1.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
}

.countshsad .completehsad td{
    border-radius: 20px;
    padding-right: 6rem;
    font-size: 1.5rem;
    row-gap: 30px;
    padding: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
}
.countshsad .ongoinghsad td{
    border-radius: 20px;
    overflow-y: hidden;
    row-gap: 40px;
    font-size: 1.5rem;
    padding-right: 6rem;
    padding: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:#3dd9d6;
}

.teamshsad{
    margin-right: 6rem;
}

.ongoinghsad{
    margin-right: 6rem;
}

.completehsad{
    margin-right: 6rem;
}
